<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hiveImage="http://typo3.org/ns/HIVE/HiveImage/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{file.originalFile.properties.extension} == 'svg'">
    <f:then>
        <f:render section="svg" arguments="{_all}" />
    </f:then>
    <f:else>
        <f:if condition="{file.referenceProperties.processing} == 1">
            <f:then>
                <f:render section="image-no-processing" arguments="{_all}" />
            </f:then>
            <f:else>
                <f:render section="picture" arguments="{_all}" />

            </f:else>
        </f:if>

    </f:else>
</f:if>

</html>

<f:section name="svg">
    <f:switch expression="{file.referenceProperties.rendering}">
        <f:case value="1">
            <f:render section="inlineSVG" arguments="{_all}" />
        </f:case>
        <f:case value="2">
            <f:render section="fileSVG" arguments="{_all}" />
        </f:case>
        <f:defaultCase>
            <f:if condition="{f:cObject(typoscriptObjectPath:'lib.enableInlineSVG')} == '1'">
                <f:then>
                    <f:render section="inlineSVG" arguments="{_all}" />
                </f:then>
                <f:else>
                    <f:render section="fileSVG" arguments="{_all}" />
                </f:else>
            </f:if>
        </f:defaultCase>
    </f:switch>
</f:section>

<f:section name="inlineSVG">
    <f:format.raw>
        <hiveImage:inlineSvg filePath="{file.originalFile.publicUrl}"
            removeStyleAttributes="{f:cObject(typoscriptObjectPath:'lib.removeStyleAttributes')}" />
    </f:format.raw>
</f:section>

<f:section name="fileSVG">
    <f:media width="{dimensions.width}" height="{dimensions.height}" class="image-embed-item img-fluid" file="{file}"
        alt="{file.alternative}" title="{file.title}" loading="{settings.media.lazyLoading}"
        decoding="{settings.media.imageDecoding}" />
</f:section>

<f:section name="picture">
    <v:variable.set name="decodedJson" value="{file.properties.crop -> v:format.json.decode()}" />
    <f:if condition="{decodedJson -> f:count()} > 1">
        <f:then>
            <f:variable name="cihs">{dimensions.height * decodedJson.small.cropArea.height}</f:variable>
            <f:variable name="ciws">{dimensions.width * decodedJson.small.cropArea.width}</f:variable>
            <f:variable name="cihm">{dimensions.height * decodedJson.medium.cropArea.height}</f:variable>
            <f:variable name="ciwm">{dimensions.width * decodedJson.medium.cropArea.width}</f:variable>
            <f:variable name="cihl">{dimensions.height * decodedJson.large.cropArea.height}</f:variable>
            <f:variable name="ciwl">{dimensions.width * decodedJson.large.cropArea.width}</f:variable>
        </f:then>
        <f:else>
            <f:variable name="cihs">{dimensions.height}</f:variable>
            <f:variable name="ciws">{dimensions.width}</f:variable>
            <f:variable name="cihm">{dimensions.height}</f:variable>
            <f:variable name="ciwm">{dimensions.width}</f:variable>
            <f:variable name="cihl">{dimensions.height}</f:variable>
            <f:variable name="ciwl">{dimensions.width}</f:variable>
        </f:else>
    </f:if>
    <picture>
        <source srcset="{f:uri.image(image:file,maxWidth:'1920',cropVariant:'large', fileExtension: 'webp')}"
            media="(min-width:1280px)" type="image/webp"
            width="{ciwl -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihl -> f:format.number(decimals: '0', thousandsSeparator: '')}" />
        <source srcset="{f:uri.image(image:file,maxWidth:'1920',cropVariant:'large')}" media="(min-width:1280px)"
            width="{ciwl -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihl -> f:format.number(decimals: '0', thousandsSeparator: '')}" />
        <source srcset="{f:uri.image(image:file,maxWidth:'1280',cropVariant:'large', fileExtension: 'webp')}"
            media="(min-width:992px)" type="image/webp"
            width="{ciwl -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihl -> f:format.number(decimals: '0', thousandsSeparator: '')}" />
        <source srcset="{f:uri.image(image:file,maxWidth:'1280',cropVariant:'large')}" media="(min-width:992px)"
            width="{ciwl -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihl -> f:format.number(decimals: '0', thousandsSeparator: '')}" />
        <source srcset="{f:uri.image(image:file,maxWidth:'992',cropVariant:'medium', fileExtension: 'webp')}"
            media="(min-width:768px)" type="image/webp"
            width="{ciwm -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihm -> f:format.number(decimals: '0', thousandsSeparator: '')}" />
        <source srcset="{f:uri.image(image:file,maxWidth:'992',cropVariant:'medium')}" media="(min-width:768px)"
            width="{ciwm -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihm -> f:format.number(decimals: '0', thousandsSeparator: '')}" />
        <source srcset="{f:uri.image(image:file,maxWidth:'768',cropVariant:'small', fileExtension: 'webp')}"
            media="(min-width:576px)" type="image/webp"
            width="{ciws -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihs -> f:format.number(decimals: '0', thousandsSeparator: '')}" />
        <source srcset="{f:uri.image(image:file,maxWidth:'768',cropVariant:'small')}" media="(min-width:576px)"
            width="{ciws -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihs -> f:format.number(decimals: '0', thousandsSeparator: '')}" />
        <source srcset="{f:uri.image(image:file,maxWidth:'576',cropVariant:'small', fileExtension: 'webp')}"
            media="(min-width:0px)" type="image/webp"
            width="{ciws -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihs -> f:format.number(decimals: '0', thousandsSeparator: '')}" />
        <source srcset="{f:uri.image(image:file,maxWidth:'576',cropVariant:'small')}" media="(min-width:0px)" />
        <img width="{ciws -> f:format.number(decimals: '0', thousandsSeparator: '')}"
            height="{cihs -> f:format.number(decimals: '0', thousandsSeparator: '')}" class="image-embed-item img-fluid"
            src="{f:uri.image(image:file,maxWidth:'1920',cropVariant:'large')}" alt="{file.alternative}"
            title="{file.title}" loading="{settings.media.lazyLoading}" decoding="{settings.media.imageDecoding}" />
    </picture>
</f:section>

<f:section name="image-no-processing">
    <f:media width="{dimensions.width}" height="{dimensions.height}" class="image-embed-item img-fluid" file="{file}"
        alt="{file.alternative}" title="{file.title}" loading="{settings.media.lazyLoading}"
        decoding="{settings.media.imageDecoding}" />
</f:section>
